@font-face {
	font-family: 'TerminatorGenisys'; 
	src: local('TerminatorGenisys'),
		url('../fonts/TerminatorGenisys.ttf'); 
}

@font-face {
    font-family: 'AlienMine';
    src: local('AlienMine'),
        url('../fonts/Alien\ Mine.ttf');
}

@font-face {
	font-family: 'AvenirNextCyr'; 
	src: local('AvenirNextCyr'),
		url('../fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf'); 
}

html *
{
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #23679c;
  border-radius: 6px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'AvenirNextCyr', sans-serif;
    color: white;
}

body{
    background-color: #010003;
    padding-top: 80px;
}

.wrapper {
    padding: 0% 8%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header img {
    height: 81px;
    width: 158px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0% 3% 0% 5%;
    min-width: 800px;
    justify-content: space-between;
}

header li {
    font-size: 0.8em;
}

header .connect {
    color: black;
    background: rgb(35,178,214);
    background: linear-gradient(169deg, rgba(35,178,214,1) 0%, rgba(99,109,218,1) 100%);
    padding: 10px 30px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}

.about .info {
    display: flex;
    flex-direction: column;
}

.imgGradient {
    margin-right: -6%;
    background: rgb(16,9,49);
    background: linear-gradient(157deg, rgba(16,9,49,1) 0%, rgba(32,7,103,1) 35%, rgba(16,9,49,1) 100%);
    border-radius: 4px;
    margin-top: 24px;
    height: 100%;
}

.about img {
    width: 720px;
    margin: 10px;
}

.about h1 {
    font-weight: bold;
}

.about p {
    margin-top: 40px;
    line-height: 1.7;
    text-align: justify;
    font-size: 1.1em;
}

.info {
    margin-right: 3%;
}

.gildya {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gildya > p {
    font-family: 'TerminatorGenisys';
    font-size: 2em;
    z-index: 1;
    margin-top: 180px;
    margin-bottom: 100px;
}

.gildya img {
    width: -webkit-fill-available;
    position: absolute;
}

.gildya .ticket {
    background-color: blue;
    padding: 1% 14%;
    font-family: 'TerminatorGenisys';
    font-size: 2em;
    z-index: 1;
    margin-top: 46%;
    cursor: pointer;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -5px;
    margin-bottom: -60px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 248px;
    height: 154px;
    background: url('../img/cardBG.png');
    background-size: contain;
    text-align: center;
    margin: 0 5px;
    margin-bottom: 60px;
}

.card img {
    width: 90px;
    position: relative;
}

.card .between {
    margin-bottom: 10px;
}

.materials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.materialsButton {
    background-color: blue;
    padding: 1% 14%;
    font-family: 'TerminatorGenisys';
    font-size: 2em;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 60px;
}

.materialCards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 -10px;
}

.materialsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    background: url('../img/card.png');
    margin: 0 10px;
    padding: 20px;
    padding-top: 40px;
    font-size: 2.5em;
    font-weight: 100;
}

.materialsCard > img {
    align-self: flex-end;
}

.materialsCard > p {
    margin-top: 138px;
}

.materialsCard > span {
    height: 20px;
    width: 475px;
    background: rgba(106, 117, 236, 0.507);
    margin-top: 160px;
}

.roadmap {
    margin-top: -200px;
}

.money {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.money h1 {
    background: url('../img/textBG.png');
    background-size: contain;
    font-family: 'TerminatorGenisys';
    font-size: 1.6em;
    padding: 13px;
    padding-right: 35px;
    padding-left: 35px;
    height: 56px;
    margin-bottom: 120px;
}

.moneyContent {
    margin-left: 10%;
    margin-right: 40%;
    text-align: justify;
    line-height: 1.5;
}

.moneyButton {
    background-color: blue;
    padding: 1% 14%;
    font-family: 'TerminatorGenisys';
    font-size: 1.2em;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 60px;
    margin-top: 80px;
    text-align: center;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.education h1 {
    text-align: center;
    background: url('../img/textBG.png');
    background-size: contain;
    font-family: 'TerminatorGenisys';
    font-size: 1.6em;
    padding: 13px;
    padding-right: 35px;
    padding-left: 35px;
    width: 531px;
    height: 56px;
    margin-bottom: 120px;
}

.educationText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
    width: 100%;
    padding: 70px;
    background-image: url('../img/educationBorder.png');
    background-size: cover;
}

.educationText > * {
    text-align: center;
    margin-top: 5.5%;
    font-size: 1.4em;
}

.educationButton {
    width: 700px;
    text-align: center;
    background-color: blue;
    padding: 1% 8%;
    font-family: 'TerminatorGenisys';
    font-size: 2em;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 60px;
}

.marketplace {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}

.marketplace h1 {
    text-align: center;
    background: url('../img/textBG.png');
    background-size: contain;
    font-family: 'TerminatorGenisys';
    font-size: 1.6em;
    padding: 13px;
    padding-right: 35px;
    padding-left: 35px;
    width: 531px;
    height: 56px;
    margin-bottom: 120px;
}

.marketplace img {
    width: 119%;
    margin-top: -140px;
}

.fund {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

.fund h1 {
    text-align: center;
    background: url('../img/textBG.png');
    background-size: contain;
    font-family: 'TerminatorGenisys';
    font-size: 1.6em;
    padding: 13px;
    padding-right: 35px;
    padding-left: 35px;
    width: 531px;
    height: 56px;
    margin-bottom: 60px;
}

.fundContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.fundButton {
    background-color: blue;
    padding: 2% 5%;
    font-family: 'TerminatorGenisys';
    font-size: 1.5em;
    z-index: 1;
    cursor: pointer;
    margin-top: 80px;
    text-align: center;
    align-self: flex-start;
    margin-left: 20px;
}

.fundLeftContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fundLeftContainer p { 
    text-align: start;
    line-height: 1.5;
    font-size: 1.3em;
}

.fundImg {
    min-width: 50%;
    padding-top: 44%;
    background-image: url('../img/fundBG.png');
    background-size: cover;
}

.tokenomics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tokenomics > h1 {
    text-align: center;
    background: url('../img/textBG.png');
    background-size: contain;
    font-family: 'TerminatorGenisys';
    font-size: 1.6em;
    padding: 13px;
    padding-right: 35px;
    padding-left: 35px;
    width: 531px;
    height: 56px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.tokenomics > p {
    font-size: 1.7em;
    margin-bottom: 20px;
}

.tokenomicsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 1200px;
}

.tLeft {
    min-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tRight {
    min-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tCard {
    font-size: 2em;
}

.tCard h1 {
    color: rgba(22, 196, 212, 1);
    text-shadow: 0px 0px 30px rgba(22, 196, 212, 1);
    font-family: 'AlienMine';
}

.tCard p {
    font-size: 0.6em;
}